node {
    shape: box;
    fill-color: black;
    text-background-mode: plain;
    text-alignment: under;
    text-size: 20;
}

node.server {
    shape: circle;
    fill-color: purple;
}

node.client1 {
    shape: circle;
    fill-color: red;
}

node.client2 {
    shape: circle;
    fill-color: blue;
}

node.vnf {
    shape: circle;
    fill-color: green;
}

edge.overlayEdge0 {
    fill-color: purple;
    stroke-width: 1px;
}

edge.overlayEdge1 {
    fill-color: green;
    stroke-width: 1px;
}